@font-face {
  font-family: 'MyNewFont';   /*字体名称*/
  src: url("PingFang Medium.ttf");       /*字体源文件*/
}

@-webkit-keyframes dong1 {
			0% {opacity: 0;top:20px; }
			50% {opacity: 0.3; top:50px;}
			100% {opacity: 1;top:120px; }
			}

/*动画*/
@-webkit-keyframes fadeIn1 {
			0% {opacity: 0; }
			50% {opacity: 0.3; }
			100% {opacity: 1; }
			}		
#hua1:hover
			{-webkit-animation-name: fadeIn1; 
			-webkit-animation-duration: 2s; 
			-webkit-animation-iteration-count: 1; 
			-webkit-animation-delay: 0s; 
			
			transform:translateY(-20px);
             transition: all  2.35s  ease-in;
           -moz-transition: all  .35s  ease-in;
           -webkit-transition: all  .35s  ease-in;
           transition: transform 3s linear 0s; 
			}
			
@-webkit-keyframes fadeIn2 {
			0% {opacity: 0; }
			50% {opacity: 0.3; }
			100% {opacity: 1; }
			}		
#hua2:hover
			{-webkit-animation-name: fadeIn2; 
			-webkit-animation-duration: 2s; 
			-webkit-animation-iteration-count: 1; 
			-webkit-animation-delay: 0s; 
			
			transform:translateX(20px);
             transition: all  2.35s  ease-in;
           -moz-transition: all  .35s  ease-in;
           -webkit-transition: all  .35s  ease-in;
           transition: transform 3s linear 0s; 
			}
@media (min-width: 2000px){
	#shouji{display: none;}
}			
			
@media (max-width: 3000px){
	.ban-btn {
    margin: 30px auto;
    width: 60%;
    margin-left: 30%;}
  .niu1 {
    background: #42afef;
    width: 20%;
    float: left;
    border-radius: 25px;
    height: 38px;
    line-height: 38px;
    margin-left: 2.5%;}
	.zj{width: 85%;
    margin: 30px auto;
    text-align: justify;
    line-height: 25px;
    color: white;
    opacity: 0.6;
    font-size: 18px;}
    .navbar-brand{padding: 25px 222px;}
    .huabu{width: 100%;height: 868px;position: absolute;top:0;left:0;z-index: 1;}
    .ban-ka{display: none;}
    #navl{color: #2660e3;
    border-bottom: 1px solid #2660e3;}
    #navl a{color: #2660e3;
    font-weight: bold;}
    
    /*banner头部部分*/
   .ban-btn {
    width: 50%;
    float: left;
    margin-left: 33%;}
    .ban-btn2 {
    margin-left: 25px;
    width: 11%;
    float: left;}
    
    /*top2*/
    .top2-lo{width: 25%;}
    .top2-lo img{width: 100%;}
    .top2-tex1{font-size: 32px;
    color: black;
    margin-top: 30px;}
    .top2-tex2{font-size: 18px;
    color: black;
    opacity: 0.8;
    margin-top: 50px;}
    .top2-tex3{
    margin-top: 30px;}
    .top-lo2{width: 60%;}
    .t-hui{background: #e2e2e2;}
    #look:hover{color: #ffe44b;
    text-decoration: underline;}
    
    /*top3*/
   .st-t2{width: 85%;
   font-weight: bold;
    margin: 0px auto;
    text-align: center;
    color: black;
    opacity: 0.6;
    font-size: 22px;}
    .xmbz-bom{    width: 6%;
    height: 2px;
    background: #04d7f5;
    margin-bottom: 10px;}
    .bd-left{width: 50%;
    float: left;}
    .bd-right{width: 50%;
    float: left;
    padding-top: 70px;}
    .top-backtu{background: url("top3-tuback.png") no-repeat center center;
    background-size: 100% 100%;
    height: 424px;}
    .bdr-text1 {font-size: 24px;}
    .bdr-text2{font-size: 16px;
    font-family: PingFang SC;
    font-weight: 300;
    line-height: 45px;
    color: rgba(0,0,0,1);
    opacity: 0.8;}
    .bdr-text3{font-size: 20px;
    font-family: PingFang SC;
    font-weight: 300;
    line-height: 45px;
    color: rgba(0,0,0,1);
    opacity: 0.8;}
    .bdr-text4{font-size: 16px;
    font-family: PingFang SC;
    font-weight: 300;
    color: rgba(0,0,0,1);
    opacity: 0.8;}
    /*.top3-ta1{background: url(../img/top3-tab1.png) no-repeat center center;}
    .top3-ta2{background: url(../img/top3-tab2.png) no-repeat center center;}
    .top3-ta3{background: url(../img/top3-tab3.png) no-repeat center center;}
    .top3-ta4{background: url(../img/top3-tab4.png) no-repeat center center;}*/
  /*  .dw-ul{background: url(../img/top3-taback.png) no-repeat center center;}*/
    
    /*top4*/
   .app-kaifa{width: 100%;
   height: auto;
   border: 1px solid gray;}
   .top4-k2{background: url("../img/top4-back.png") no-repeat center center;
   background-size: 100% 100%;
    height: 300px;
    width: 100%;}
    .top4-juz{width: 72%;
    margin: 0px auto;
    border: 1px solid green;
    height: auto;}
    .top4juz-title{margin: 0px auto;
    text-align: center;
    font-size: 30px;
    color: black;
    padding-top: 80px;
    opacity: 0.7;
    padding-bottom: 20px;}
    .lmw {
   width: 20%;
    height: auto;
    margin-left: 4%;}
    .top41-leb {
    width: 18%;
    height: auto;
    margin-right: 1%;
    margin-left: 1%;
    background: #f6f6f6;}
    .top4-1lm-le{text-align: center;
    border-radius: 10px 10px 10px 10px;
    height: 180px;}
    .top4-1t2{
    /*font-weight: bold;*/
    margin: 0px auto;
    text-align: center;
    color: black;
    opacity: 0.9;
    font-size: 22px;}
    .top4-4t2 {
    font-weight: bold;
    margin: 0px auto;
    text-align: center;
    color: black;
    opacity: 0.6;
    font-size: 15px;}
    .top4-juz2{margin-top: 42px;
    border: 1px solid;
    height: auto;}
    .top4-juz2 img{width: 100%;}
    .top4-juz3{width: 100%;
    height: 500px;
    border: 1px solid gray;
    margin-top: 50px;}
    .top4-juz3left{width: 38%;
    height: 372px;
    float: left;
    margin-right: 2%;
    background: #f5f9fc;}
    .top45-juz3left {
    width: 38%;
    height: 400px;
    float: left;
    margin-right: 2%;
    background: #f5f9fc;}
    .top4-juz3right{width: 60%;
    height: 400px;
    /*border: 1px solid;*/
    float: left;}
    .top43-leb{width: 23%;
    height: auto;
    margin-right: 1%;
    margin-left: 1%;
    /*background: #f5f9fc;*/}
    .top43-leb img{
    width: 45%;
    margin: 2% 27%;}
    #top4-h{margin-top: 10px;
    margin-bottom: 30px;}
    #top4-5h{
    margin-top:0px;
    margin-bottom: 30px;}
    .top43lm-le1{padding-top: 12px;}
    .top4-3lm-le {
    text-align: center;
    border-radius: 10px 10px 10px 10px;
    height: auto;
    margin-bottom: 20px;}
    .top4-5lm-le {
    text-align: center;
    border-radius: 10px 10px 10px 10px;
    height: auto;
    margin-bottom: 40px;}
    .top44-leb {
    width: 46%;
    height: auto;
    margin-right: 1%;
    margin-left: 3%;
    border: 1px solid #f3f3f3;
    margin-bottom: 20px;}
    .top44-leb img{width: 13%;
    margin: 10% 43.5%;}
    .top44lm-t2{width: 85%;
    margin: 0px auto;
    color: black;
    opacity: 0.6;}
    .top4-3l-tx1{width: 90%;
    margin: 0px auto;
    font-size: 24px;
    padding-top: 30px;}
    .top4-3l-tx2{width: 78%;
    font-size: 16px;
    padding-top: 30px;
    line-height: 25px;
    opacity: 0.7;
    margin-left: 5%;}
    .top4-5l-tx1{width: 90%;
    margin: 0px auto;
    font-size: 20px;
    padding-top: 20px;
    font-weight: bold;
    opacity: 0.8;}
    .top4-3l-tx3{width: 72%;
    font-size: 16px;
    padding-top: 20px;
    line-height: 25px;
    opacity: 0.7;
    margin-left: 5%;}
    .top4-3l-tx4{width: 72%;
    padding-top: 10px;
    margin-left: 3%;}
    

    
    /*top9*/
   
    
    /*.top10*/
   .top10{width: 100%;
   height: 1162px;
   border: 1px solid;}
   .top10-s{width: 100%;
   height: 362px;
   border: 1px solid;
   background: #F5F9FC;
   z-index: 1;
   position: relative;}
   .top10-x{width: 100%;
   height: 800px;
   border: 1px solid;
   z-index: 1;
   position: relative;}
   .top10-tle{text-align: center;
    font-size: 30px;
    padding-top: 130px;}
    .top10-jz{width: 72%;
    height: auto;
    margin: 0px auto;}
    .top10k{
    margin: 200px auto;
    height: 600px;}
    .top10-he1 {
    width: 9.1%;
    float: left;
    height: auto;
    margin-left: 1%;
    margin-bottom: 25px;
    margin-right: 1%;}
    .top10-z{    width: 72%;
    height: 200px;
    border: 1px solid green;
    border-radius: 0px 100px 100px 0px;
    background: #1e53de;
    position: absolute;
    margin-top: -100px;
    z-index: 2;}
    .top10-shu1{height: auto;
    width: 83%;
    overflow: hidden;
    margin-top: 25px;}
    .top10-s1{width: 19%;
    float: left;
    margin-left: 5%;}
    .top10-s1,.top10-s2,.top10-s3,.top10-s4,.top10-s5{float: left;width: 19%;}
    .top10-shu1 img{width: 50%;
    float: right;}
    /*top11*/
   .top11{height: auto;
   border: 1px solid red;}
   .top11-jz{width: 72%;
   height: auto;
   margin: 0px auto;}
   .top11-k{
    width: 100%;
    height: auto;
    margin: 80px auto;}
    .top11-tx1{color: black;
    text-align: center;
    font-size: 30px;
    opacity: 0.9;
    font-weight: bold;}
    .top11-tx2{color: black;
    font-size: 18px;
    opacity: 0.7;
    margin-top: 15px;
    margin-bottom: 60px;
    text-align: center;
    font-weight: bold;}
    .top11-he1{border: 1px solid;
    height: 150px;
    width: 22.6%;
    margin-right: 1.4%;
    margin-left: 1%;}
    .top11-hz{float: left;
    margin: 16px;}
    .top11-hy{float: left;
    margin-left: 2%;}
    .top11-hytx1{font-size: 18px;
    font-weight: bold;
    padding-top: 35px;
    padding-bottom: 5px;}
    .top11-hytx2{color: gray;}
    #top11-hang{margin-top: -10px;}
    .top11-hek{width: 95%;
    margin: 0px auto;}
    
    /*top12*/
   	.top12-p{padding-top: 20px;
   	font-size: 17px;
   	color: white;}
   	.top12-p3{padding-top: 20px;
   	font-size: 17px;
   	color: white;}
   	#ditu {
    background: url("../img/top12-map.png") no-repeat center center;
    background-size: cover;
    height: 344px;}
    
    
    
    
   	
   	/*交易所*/
   	.jiaoyik{margin: 0px auto;
   	height: 550px;}
   	.jiaoyi-he1{width: 15%;
    float: left;
    height: auto;
    margin-left: 1%;
    margin-bottom: 25px;
    margin-right: 0.6%;}
    
    
    /*尾部*/
   .foot-tx1{
    text-align: center;
    opacity: 0.6;
    color: white;
  }
   	    
}








@media (max-width: 2600px){
	
	/*头部*/
	
	.btn-w{font-size: 18px;
    color: white;
    opacity: 0.9;}
    .niu1:hover{background: #f7a322;
    cursor: pointer;}
	
	/*banner*/
	.ban-kuang{
    margin: 0px auto;
    width: 66%;
    padding-top: 320px;
    text-align: center;
    font-size: 3.5rem;
    position: relative;
    z-index: 9999;}
    
    .ban-btn img{
    width: auto;}
    .he{height: auto;
    background: #ffffff;}
    .he-k{
    margin-top: 60px;}
    .ban-txt1{color: white;
    opacity: 1;
    margin-bottom: 64px;}
    .ban-txt2{color: white;
    opacity: 0.9;
    margin-bottom: 30px;
    font-weight: 100;
    font-size: 3.2rem;}
    .ban-txt3{color: white;
    opacity: 0.9;
    margin-bottom: 30px;
    font-weight: 100;
    font-size: 2.6rem;}
    .top-lo2{width: 60%;}
    
    /*介绍*/
   .an1:hover{cursor: pointer;}
    
    
	#selet {
    margin-top: 16px;
    margin-left: 12px;
    border: 1px solid;
    outline: none;
    background: none;
    color: red;}
	.nav-title{ width: 100%;
    height: 162px;
    position: absolute;
    top: 38%;}
    .nav-title1{font-size: 5.5rem;
    bottom: 42%;
    width: 100%;
    left: 58.5%;
    line-height: 50px;
    color: rgb(255,255,255, 0.9);
    text-align: center;}
    #ck{background: #fa9801;
    width: 196px;
    height: 40px;color: white;
	border: none;
	outline: none;
	position: absolute;
	bottom: 20%;
	left: 0%;
	font-weight: bold;
	font-size: 1.8rem;}
	.jian-title{padding-top: 90px;}
	.jian-title h1{line-height: 61px;
    color: white;
    margin: 0px auto;
    margin-bottom: 100px;}
	.t-le{width: 20%;}
	#stai{color: white;}
	.st-kuang1{
    height: 92px;
    text-align: center;
    /*border: 1px solid #fa9801;*/}
    .st-kuang1:hover{
	background: #fa9801;
	cursor: pointer;}
	.cxzj{height: auto;background: white;}
	.cxzj-jz{width: 72%;
    height: 1200px;
    margin: 0px auto;}
    .cxzj-k{width: 100%;
    height: 166px;
    /*border-bottom: 2px solid #EEEEEE;*/
    margin-bottom: 20px;}
    .cxzj-k1{width: 30%;
    float: left;}
    .cxzj-k2{width: 70%;
    float: left;}
    .cx-left{height: 152px;
    text-align: center;
    background: #FFFFFF;}
    .cp1{font-size: 24px;
    font-weight: bold;
    opacity: 0.8;}
    .cp2{margin-top: 10px;
    opacity: 0.8;}
    .fazgh{
    height: auto;
    background-size: cover;}
    #gui{
    color: black;
    opacity: 0.8;
    line-height: 280px;}
    .wei{background: #0a0d1a;
    /*position: absolute;*/}
    .tdrow {height: 572px;}
    .tuand{height: auto;}
    .foot{width: 60px;
    height: auto;
    margin: 0px auto;
    margin-bottom: 25px;}
    .foot img{width: 100%;}
    .jian{background: #f6f6f6;
    background-size:100% 100% ;
    z-index: 1;
    position: relative;}
    .e-nane{font-size: 24px;
    padding-top: 20px;}
    .e-nane2{font-size: 24px;}
    .nav-title2 {
    font-size: 2.8rem;
    width: 100%;
    line-height: 50px;
    color: rgba(255,255,255, 0.8);
    text-align: center;
    margin-top: 25px;}
    .j-kuang{width: 100%;
    height: auto;
    margin: 20px auto;
    }
    .j-kuangw{width: 99%;
    height:auto;
    margin: 130px auto;
    /*border: 2px solid #eeeeee;*/}
    .jk-text1{color: black;
    text-align: center;
    font-size: 30px;
    opacity: 0.9;}
    #he-text1{color: black;
    text-align: center;
    font-size: 30px;
    opacity: 0.9;
    font-weight: bold;}
    .jk-text2{color: black;
    font-size: 18px;
    opacity: 0.6;
    margin-top: 60px;
    line-height: 30px;}
    .he-text2{color: black;
    font-size: 18px;
    opacity: 0.7;
    margin-top: 15px;
    margin-bottom: 60px;
    text-align: center;
    font-weight: bold;}
    #js{background: #ff0000;
    width: 236px;
    height: 40px;
    color: white;
    border: none;
    outline: none;
    font-size: 1.8rem;
    border-radius: 5px;
    opacity: 0.8;
    margin-top: 45px;}
    .vdio{margin-top: -30px;
    height: auto;}
    .s-title{
    margin: 0px auto;
    text-align: center;
    font-size: 30px;
    color: black;
    padding-top: 82px;
    width: 100%;
    opacity: 0.9;}
    
    .qfw-title{
    margin: 100px auto;
    text-align: center;
    font-size: 30px;
    color: black;
    padding-top: 5px;
    width: 25%;
    opacity: 0.9;
    font-weight: bold;
    border-bottom: 2px solid #e5e5e5;
    border-top: 2px solid #e5e5e5;
    padding-bottom: 5px;}
    .s-txt2{margin: 50px auto;
    text-align: center;
    font-size: 20px;
    color: black;
    opacity: 0.6;
    background: #f5f9fc;
    border-radius: 25px;}
    .s-tltle2{
    text-align: justify;
    font-size: 18px;
    opacity: 0.9;
    color: black;
    width: 80%;
    margin: 50px auto;}
    .s-tu{margin: 92px auto;}
    .s-tu img{width: 100%;}
    .ling{color: black;
    font-size: 30px;
    opacity: 0.9;}
    .ling2{color: black;
    font-size: 18px;
    opacity: 0.8;
    margin-top: 20px;
        color: black;}
    .ling-tu img{width: 100%;}
    .lylm{height: 910px;
    background: #f2f2f2;}
    .lylm-kuang{width: 72%;
    height: 524px;
    margin: 0px auto;}
    .lm-title{margin: 0px auto;
    text-align: center;
    font-size: 30px;
    color: black;
    padding-top: 50px;}
    .lm-tltle2{text-align: justify;
    font-size: 18px;
    opacity: 0.9;
    color: black;
    width: 80%;
    margin: 50px auto;}
    .lm-tu{margin: 20px auto;}
    .lm-le{text-align: center;
    border-radius: 10px 10px 10px 10px;
   /* background: #264772;*/
    height: 180px;}
    .lm-le:hover{box-shadow: 0px 0px 20px 2px #aaa;
    transition: all 2.3s ease;}
    
    .lm-le1{padding-top: 42px;}
    .lm-t1{font-size: 24px;
    color: rgba(0,0,0, 0.7);}
    .lm-t2{width: 85%;
    margin: 0px auto;
    text-align: center;
    color: black;
    opacity: 0.6;
    font-size: 15px;}
    .lmw img{width: 25%;
    margin: 10% 37%;
    }
    .top41-leb img{width: 25%;
    margin: 10% 38%;
    }
    .t-img1{
    height: auto;
    /*background: #1b3c67;*/
    border-radius: 10px 10px 0px 0px;
    height: auto;}
    .t-h{width: 58%;
    height: 524px;
    margin: 0px auto;}
    .th-tltle2{text-align: justify;
    font-size: 18px;
    opacity: 0.9;
    color: black;
    width: 100%;
    margin: 50px auto;}
    .te-jz{height: 580px;
    background: #f2f2f2;}
    .te-th{height: 1450px;}
    .st-img1{display: block;}
    .st-img2{display: none;}
    .st-img3{display: block;}
    .st-img4{display: none;}
    .st-img5{display: block;}
    .st-img6{display: none;}
    .scjz{height: 1080px;width: 100%;}
    .tdrow1 {
    padding-top: 280px;}

    
    
    
    
   
    /*底部*/
   .foot-tx1{
    text-align: center;
    opacity: 0.6;
    color: white;}
    
    
    
   

 
}

@media (max-width: 2000px){
	.ban-btn{margin: 0px auto;
    width: 10%;}
    .niu1{background: #42afef;
    width: 20%;
    float: left;
    border-radius: 25px;
    height: 38px;
    line-height: 38px;
    margin-left: 11.5%;}
	 .top10-shu1 img{width: 70%;
    float: right;}
	.ban-btn img{
    width:100%;}
    .ban-btn2 img{
    width:100%;}
    .ban-btn{margin-left: 20%;
    width: 60%;}
    .ban-btn2{margin-left: 25px;
    width: 11%;
    float: left;}
    .top-lo2{width: 80%;}
    .foot-tx1{
    text-align: center;
    opacity: 0.6;
  }
    
}

@media (max-width: 1700px){
	/*.nav-title{ width: 40%;
    height: 162px;
    position: absolute;
    top: 40%;
    left: 36%;}*/
    .nav-title1{font-size: 5.5rem;
    bottom: 42%;
    width: 100%;
    left: 58.5%;
    line-height: 50px;
    color: rgb(255,255,255, 0.9);
    text-align: center;}
    #ck{background: #fa9801;
    width: 196px;
    height: 40px;color: white;
	border: none;
	outline: none;
	position: absolute;
	bottom: 20%;
	left: 0%;
	font-weight: bold;
	font-size: 1.8rem;}
	.tdrow {
    height: 632px;}
    .tuand {
    height: auto;}
} 

@media (max-width: 1500px){
	
    #js {
    background: #22ac38;
    width: 236px;
    height: 40px;
    color: white;
    border: none;
    outline: none;
    font-size: 1.8rem;
    border-radius: 3px;
    opacity: 0.9;
    margin-top: 20px;}
    .te {
    height: auto;}
    .ling-tu img {
    width: 100%;
    margin-top: 42px;}
	.scjz {
	    height: 1356px;
	    width: 100%;}
	.tdrow1 {
    padding-top: 230px;}
    .d-tex2 {
    text-align: center;
    border-radius: 0px 0px 10px 10px;
    background: #1f334c;
    height: 335px;
    max-height: 350px;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 5px;}
    .top-lo2 {
    width: 100%;
    margin-top: 10px;}
}


@media (max-width: 1400px){
	/*头部*/
	.ban-kuang {
    margin: 0px auto;
    width: 66%;
    padding-top: 247px;
    text-align: center;
    font-size: 3rem;
    position: relative;
    z-index: 9999;}
	/*top4*/
	.lm-t2 {
    width: 90%;}
    .top43-leb {
    width: 25%;
    margin-left: 0%;
    margin-right: 0%;}
    .top4-juz3right {
    width: 62%;
    height: 400px;
    /*border: 1px solid;*/
    float: left;}
    .top4-juz3left {
    width: 38%;
    height: 339px;
    float: left;
    margin-right: 0%;
    background: #f5f9fc;}
    .top45-juz3left {
    width: 38%;
    height: 430px;
    float: left;
    margin-right: 0%;
    background: #f5f9fc;}
    .top4-3l-tx2 {
    width: 88%;
    font-size: 16px;
    padding-top: 30px;
    line-height: 25px;
    opacity: 0.7;
    margin-left: 5%;}
    .top4-5lm-le {
    text-align: center;
    border-radius: 10px 10px 10px 10px;
    height: auto;
    margin-bottom: 60px;}
    .top44-leb {
    width: 46%;
    height: auto;
    margin-right: 1%;
    margin-left: 3%;
    border: 1px solid #f3f3f3;
    margin-bottom: 30px;
    padding-top: 30px;}
	
	/*top5*/
	.top5-l1 {
    width: 27.5%;
    border: 1px solid;
    height: 500px;
    float: left;
    margin-left: 2.8%;
    margin-right: 3%;}
    /*top10*/
   .top10-z {
    width: 72%;
    height: 170px;
    border: 1px solid green;
    border-radius: 0px 100px 100px 0px;
    background: #1e53de;
    position: absolute;
    margin-top: -85px;
    z-index: 2;}
	
	.lm-le1 {
    padding-top: 20px;}
	.yy-le {
    text-align: center;
    height: 523px;
    background: #FFFFFF;
    box-shadow: 0px 3px 8px 3px #e5e5e5;
    border-radius: 10px;}
    .tdrow1 {
    padding-top: 220px;}
    .tdrow {
    height: 531px;}
    .scjz {
	    height: 1300px;
	    width: 100%;}
	.te-th {
    height: 1202px;}
    .poe{
    background: url("sf.png") no-repeat center center;
    height: 773px;
    background-size: contain;}
    .tongz-kuang{
    padding-top: 70px;}
    .fazgh{
    height: auto;
    background-size: cover;}
    .ban-txt1{color: white;
    opacity: 1;
    margin-bottom: 25px;
    font-size: 3.2rem;}
    .ban-txt2{color: white;
    opacity: 0.9;
    margin-bottom: 25px;
    font-weight: 100;
    font-size: 2.6rem;}
    .ban-txt3{color: white;
    opacity: 0.9;
    margin-bottom: 15px;
    font-weight: 100;
    font-size: 1.8rem;}
    .jiaoyik {
    margin: 0px auto;
    height: 438px;}
    .qfw-title {width: 35%;}
}


@media (max-width: 1350px){
	.navbar-brand {
    padding: 25px 130px;}		
}	
@media(max-width:1199px) {
    .navbar-brand{padding: 25px 65px;}
}

	/*top4-5*/
@media (max-width: 1250px){
	.top4-juz3left {
    width: 38%;
    height: auto;
    float: left;
    margin-right: 0%;
    background: #f5f9fc;}
}


@media (max-width: 1100px){
	/*头部*/
	.niu1 {
    background: #42afef;
    width: 20%;
    float: left;
    border-radius: 25px;
    height: 30px;
    line-height: 30px;
    margin-left: 11.5%;}
    .btn-w {
    font-size: 14px;
    color: white;
    opacity: 0.9;}
    
    /*top4*/
   .top41-leb {
    width: 31%;
    height: auto;
    margin-right: 1%;
    margin-left: 1%;
    background: #f5f9fc;
    margin-bottom: 20px;}
    /*top5*/
   .top5-l1 {
    width: 27.5%;
    border: 1px solid;
    height: 550px;
    float: left;
    margin-left: 2.8%;
    margin-right: 3%;}
    /*top10*/
   .top10-z {
    height: 140px;
    margin-top: -70px;
    z-index: 2;}
	
	.huabu{width: 100%;height: 568px;position: absolute;top:0;left:0;z-index: 1;}
	
    .ban-txt1{color: white;
    opacity: 1;
    margin-bottom: 25px;
    font-size: 2.6rem;}
    .ban-txt2{color: white;
    opacity: 0.9;
    margin-bottom: 25px;
    font-weight: 100;
    font-size: 2rem;}
    .ban-txt3{color: white;
    opacity: 0.9;
    margin-bottom: 15px;
    font-weight: 100;
    font-size: 1.6rem;}
    .nav-title1{font-size: 5.5rem;
    bottom: 42%;
    width: 100%;
    left: 58.5%;
    line-height: 50px;
    color: rgb(255,255,255, 0.9);
    text-align: center;}
    #ck{background: #fa9801;
    width: 196px;
    height: 40px;color: white;
	border: none;
	outline: none;
	position: absolute;
	bottom: 20%;
	left: 0%;
	font-weight: bold;
	font-size: 1.8rem;}
	.t-le{width: 50%;}
	.t-d {
    width: 72%;
    height: 742px;
    margin: 0px auto;}
    .te-th {
    height: 1000px;}
    .fazgh {
    background: url("plan.png") no-repeat center center;
    height: auto;
    background-size: contain;}
    .st-title2{margin-top:-20px;  }
	#gui{
    color: black;
    opacity: 0.8;
    line-height: 440px;}
    .jk-left {
    width: 100%;
    height: 248px;
    /*border: 2px solid #eeeeee;*/}
    .jian {
    height: auto;}
    .juzhong {
    width: 72%;
    height: auto;
    margin: 0px auto;}
    .j-kuang {
    width: 100%;
    height: auto;
    margin: 90px auto;
    /*border: 2px solid #eeeeee;*/}
    .vdio {
    margin-top: 0px;
    height: auto;}
    .jk-right {
    width: 100%;
    height: 362px;
    /*border: 2px solid darkgoldenrod;*/
    float: left;}
    .j-kuangw {
    width: 90%;
    height: auto;
    margin: 20px auto;}
    .lmw {
    width: 44.3%;
    height: auto;}
    .te {
    height: auto;}
    .s-tu {
    margin: 50px auto;}
    .lm-le {
    height: 140px;}
    .scjz {
	    height: 1220px;
	    width: 100%;}
	.s-title {
        margin: 0px auto;
    text-align: center;
    font-size: 24px;
    color: black;
    padding-top: 60px;
    width: 100%;}
    .st-t2 {
    width: 85%;
    font-weight: bold;
    margin: 0px auto;
    text-align: center;
    color: black;
    opacity: 0.6;
    font-size: 20px;}
    .poe{
    background: url("sf.png") no-repeat center center;
    height: 578px;
    background-size: contain;}
    .tongz-kuang{
    padding-top: 0px;}
    .poe-title2 {
    margin: 10px auto;}
    .qfw-title {width: 50%;}
    
} 


@media (max-width: 990px){
	/*top4*/
	.top45-juz3left {
    width: 100%;
    height: 430px;
    float: left;
    margin-right: 0%;
    background: #f5f9fc;}
	.st {
    width: 100%;
    height: 920px;}
    .lylm {height: 1024px;}
    .scjz {
	    height: 1175px;
	    width: 100%;}
	  /*top4-4*/
	 .top4-juz3left {
    width: 100%;
    height: auto;
    border: 1px solid;
    float: left;
    margin-right: 2%;}
    .top4-juz3right {
    width: 100%;
    height: auto;
    border: 1px solid;
    float: left;}
    .top4-juz3 {
    width: 100%;
    height: 800px;
    margin-top: 50px;}
    /*top5*/
   .top5-l1 {
    width: 44%;
    border: 1px solid;
    height: 500px;
    float: left;
    margin-left: 2.8%;
    margin-right: 3%;
    margin-bottom: 20px;}
    .top4-juz1 {
    margin: 100px auto;
    height: 1000px;
    width: 100%;}
    .top4-juz11 {
    margin: 100px auto;
    height: auto;
    width: 100%;}
	    
	    
	/*top8*/
	.top8-tx2 {
    font-size: 24px;
    color: #2e71e4;
    opacity: 0.9;
    font-family: "MyNewFont";
    font-weight: bold;}
    .top8-tx3{font-size: 18px;
    font-family:"MyNewFont";
    font-weight: 500;
    line-height: 84px;
    color: rgba(59,59,59,1);
    opacity: 0.9;}
    .top8-top-x{width: 90%;
    height: auto;
    float: left;
    font-size: 16px;
    font-family: "MyNewFont";
    font-weight: 500;
    color: rgba(59,59,59,1);
    opacity: 0.9;}
}


@media (max-width: 800px){
	/*头部*/
	.ban-kuang {
    margin: 0px auto;
    width: 66%;
    padding-top: 120px;
    text-align: center;
    font-size: 3rem;}
    
    /*top3*/
   .bd-left {
    width: 100%;
    }
    .slideTxtBox .hd ul{font-size: 14px;}
    .top-backtu {
    background: url("top3-tuback.png") no-repeat center center;
    background-size: 100% 100%;
    height: 780px;}
    .bd-right {
    width: 100%;
    padding-top: 0px;}
    .tab-k1 {
    height: auto;
    width: 100%;}
    /*top5*/
   .top5-l1 {
    width: 94.2%;}
    .top52{
    margin: 50px auto;
    height: 1490px;
    width: 100%;}
    /*top10*/
   .top10-he1 {
    width: 13.5%;
    float: left;
    height: auto;
    margin-left: 2%;
    margin-bottom: 25px;
    margin-right: 1%;}
    .top10-z {
    height: 116px;
    margin-top: -58px;
    z-index: 2;}
   
	
	
    .ban-txt1{color: white;
    opacity: 1;
    margin-bottom: 15px;
    font-size: 2.1rem;}
    .ban-txt2{color: white;
    opacity: 0.9;
    margin-bottom: 15px;
    font-weight: 100;
    font-size: 1.8rem;}
    .ban-txt3{color: white;
    opacity: 0.9;
    margin-bottom: 5px;
    font-weight: 100;
    font-size: 1.4rem;}
	.huabu{width: 100%;height: 448px;position: absolute;top:0;left:0;z-index: 1;}
    .t-le{width: 100%;}
    .t-d{height: auto;}
    .st{height: 880px;}
    .tuand {
    height: 4730px;}
    .tuanle img {
    width: 30%;
    margin: -15% 32%;
    position: absolute;}
    .tdrow {
    height: 425px;}
    .tuanle-2 {
    margin-top: 72px;}
    .tuand{height: 1600px;}
    .tuanle img {
    width: 50%;
    margin: -25% 20%;
    position: absolute;}
    .e-nane{font-size: 20px;}
    .e-nane2{font-size: 20px;}
    .tdrow {
    height: 819px;}
    .tuand {
    height: auto;}
    /*.s-title {width: 20%;}*/
    .te {
    height: auto;}
    .lm-le {
    height: 130px;}
    .scjz {
    height: 450px;}
    .fazgh{
    height: auto;}
   .poe {
    background: url("sf-app.png") no-repeat center center;
    height: 900px;
    background-size: 100% 100%;}
    .poe-title {
    margin: 0px auto;
    text-align: left;
    font-size: 24px;
    color: white;
    padding-top: 80px;
    width: 100%;
    opacity: 0.8;}
    .poe-title2 {
    text-align: justify;
    font-size: 16px;
    opacity: 0.7;
    color: white;
    width: 100%;}
    .tongz-kuang {
    padding-top: 150px;}
    .jk-text2 {
    margin-top: 70px;}
    .lmw {
    width: 45%;
    height: auto;}
    .xinwen {
    height: auto;
    background: #f5f9fc;}
    .navbar-brand {
    padding: 25px 72px;}
    .qfw-title {width: 60%;}
    
    /*交易所*/
   .jiaoyi-he1 {
    width: 22.5%;
    float: left;
    height: auto;
    margin-left: 1.7%;
    margin-bottom: 25px;}
   
} 

@media (max-width: 760px){
	.tuanle img {
    width: 30%;
    margin: -15% 32%;
    position: absolute;}
     .tuand{height: 3600px;}
     .tdrow {
    height: auto;}
    .tuand {
    height: auto;}
    .tuanle-2 {
    margin-top: 0px;}
    .lm-le {
    height: 130px;
    margin-bottom: 50px;}
    .scjz {
    height: 840px;}
} 

@media (max-width: 660px){
   .te-jz {height: 640px;}
   
} 






@media (max-width: 500px){
	/*top头*/
	.ban-btn {
    margin-left: 0%;}
	.ban-txt1{color: white;
    opacity: 1;
    margin-bottom: 5px;
    font-size: 1.5rem;}
	.ban-kuang {
    margin: 0px auto;
    width: 66%;
    padding-top: 80px;
    text-align: center;
    font-size: 2rem;}
	/*top2*/
	.top2-tex1 {
    font-size: 24px;
    color: black;
    margin-top: 30px;}
    .top2-tex1 {
    font-size: 24px;
    color: black;
    margin-top: 15px;}
    .top2-tex2 {
    font-size: 16px;
    color: black;
    opacity: 0.8;
    margin-top: 24px;}
    
    /*top3*/
   .slideTxtBox .hd {
    height: 60px;
    background: url("top3-hd.png") no-repeat center center;
    background-size:100% 100% ;
    padding: 0 10px 0 20px;
    position: relative;
    line-height: 26px;
    }
    .slideTxtBox {
    width: 90.5%;
    text-align: left;
    margin: -60px auto;
    margin-bottom: 25px;}
    .slideTxtBox .arrow {
    position: absolute;
    left: -19px;
    top: 7;}
    .slideTxtBox .arrow2 {
    position: absolute;
    right: -19px;
    top: 7;}
    .slideTxtBox .arrow a {
    display: block;
    width: 12px;
    height: 20px;
    float: right;
    margin-right: 5px;
    margin-top: 20px;
    overflow: hidden;
    cursor: pointer;
    background: url("top2-z.png") no-repeat center center;
    background-size: 100% 100%;}
    .slideTxtBox .arrow2 a {
    width: 12px;
    height: 20px;
    margin-right: 2px;
    margin-top: 20px;}
    .slideTxtBox .hd ul li.on {
    height: 60px;
    background: #057bff;
    color: white;}
    .li-bai img {
    width: 15%;}
    .li-bai {
    margin-right: 0px;}
    .dw-top {
    padding-top: 30px;}
    .xmbz-tx3 {
    font-size: 14px;
    margin-top: 25px;
    width: 142px;}
    .xmbz-tx1 {
    font-size: 20px;}
    .xmbz-tx2 {
    font-size: 16px;}
    .bdr-text1 {font-size: 20px;}
    .bdr-text2 {
    font-size: 16px;}
    .bdr-text3 {
    font-size: 18px;}
    
    /*top4*/
   .top41-leb {
    width: 100%;
    height: auto;
    /*margin-right: 1%;
    margin-left: 1%;*/
    background: #f5f9fc;
    margin-bottom: 20px;}
    .top4juz-title{font-size: 20px;}
    .top4-1t2{
    font-size: 18px;}
    .top43-leb {
    width: 48%;
    height: 140px;
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 10px;}
    .top4-juz3 {
    width: 100%;
    height: 960px;
    margin-top: 50px;}
    .top4-juz11 {
    margin: 0px auto;}
    .top45-juz3left {
    width: 100%;
    height: auto;
    float: left;
    margin-right: 0%;
    background: #f5f9fc;}
    .top44-leb img {
    width: 45%;
    margin: 5% 26.5%;}
    .top41-leb img {
    width: 16%;
    margin: 10% 41.5%;}
     /*top6*/
   .jiaoyi-he1 {
    width: 22.5%;
    float: left;
    height: auto;
    margin-left: 1.7%;
    margin-bottom: 20px;}
    .jiaoyik {
    margin: 0px auto;
    height: auto;}
   
    
    /*top8*/
   .top8-tx2{
	line-height: 28px;
	margin-bottom: 10px;}
    .top8-tx1 {
    margin-top: 10px;
    margin-bottom: 25px;}
    .top8-tx3{line-height: 20px;}
    .top8-top-y {height: 182px;}
    .top8-top-x{width: 100%;}
    /*top10*/
   .top10-he1 {
    width: 23%;
    float: left;
    height: auto;
    margin-left: 1%;
    margin-bottom: 25px;
    margin-right: 1%;}
    .top10k {
    margin: 200px auto;
    height: 1000px;
    border: 1px solid;}
    .top10-x,.top10-jz,.top10{height: auto;}
    .top10-shu1 {
    height: auto;
    width: 83%;
    overflow: hidden;
    margin-top: 10px;}
    .top10-shu1 img {
    width: 100%;
    float: right;}
    .top10-z {
    height: 72px;
    margin-top: -36px;
    z-index: 2;}
    .top10-tle {
    text-align: center;
    font-size: 24px;
    padding-top: 50px;}
    .top10-s {
    width: 100%;
    height: 162px;
    border: 1px solid;
    background: #F5F9FC;
    z-index: 1;
    position: relative;}
    


    
    

    /*top*/
   .lmw {
    width: 28%;
    height: auto;
    margin-left: 0%;}

	.btn-w{width: 55%;
    margin: 30px auto;
    height: 100px;}
    .ban-btn {
    width: 100%;
    float: left;}
    .ban-btn2 {
    margin-left: 10%;
    width: 45%;
    float: left;}
    .ban-txt4{
    color: white;
    opacity: 0.9;
    font-weight: 100;
    font-size: 14px;
    width: 90%;
    margin: 0px auto;
    text-align: left;
    float: right;}
    .jux{width: 3px;
    height: 30px;
    background: white;
    float: left;
    border-radius: 5px;
    margin-top: 6px;}
    .ban-ka{width: 70%;
    height: 60px;
    margin: 20px auto;}
	.huabu{width: 100%;height: 300px;position: absolute;top:0;left:0;z-index: 1;}
	#he-text1{font-size: 24px;}
	
    
    .ban-txt2{color: white;
    opacity: 0.9;
    margin-bottom: 5px;
    font-weight: 100;
    font-size: 1.8rem;}
    .ban-txt3{color: white;
    opacity: 0.9;
    margin-bottom: 5px;
    font-weight: 100;
    font-size: 14px;}
	.tongz-kuang {
    padding-top: 0px;}
	.st-img1{display: none;}
	.st-img2{display: block;}
	.st-img3{display: none;}
	.st-img4{display: block;}
	/*.st-img5{display: none;}*/
	.st-img6{display: block;}
	.nav-title {
    position: absolute;
    top: 20%;}
    .nav-title1{font-size: 2.5rem;
    bottom: 42%;
    width: 100%;
    left: 58.5%;
    line-height: 0px;
    color: rgb(255,255,255, 0.9);
    text-align: center;}
    #ck{background: #fa9801;
    width: 132px;
    height: 32px;
    color: white;
    border: none;
    outline: none;
    position: absolute;
    bottom: 20%;
    left: 0%;
    font-weight: bold;
    font-size: 1.5rem;}
    .jian-title h1{line-height: 52px;
    color: white;
    font-size: 24px;
    margin-bottom: 20px;
    width: 35%;}
	.juzhong {
    width: 80%;}
    .t-le{width: 100%;}
    .cxzj-k1{width: 100%;
    float:none;}
    .cxzj-k2{width: 100%;
    float: none;}
    .cxzj-k{height: 320px;}
    .cxzj-jz{height: 1810px;}
    .cp1{font-size: 20px;
    font-weight: bold;
    opacity: 0.8;
    text-align: center;}
    .fazgh {height: auto;}
    #gui{font-size: 24px;
    line-height: 229px;}
    .tuand {
    height: auto;}
    .tdrow {
    height: 400px;}
    .tuanhang {
    margin-top: 0px;}
    .tuanle img {
    width: 35%;
    margin: 10% 28%;
    position: absolute;}
    .foot img {
    width: 60%;}
     .nav-title2 {
    font-size: 1.5rem;
    width: 100%;
    line-height: 50px;
    color: rgba(255,255,255, 0.8);
    text-align: center;
    margin-top: 25px;}
    .j-kuang {
    width: 100%;
    height: 1080px;
    margin: 50px auto;}
    .j-kuangw {
    width: 90%;
    height: auto;
    margin: 15px auto;}
    .jk-left {
    width: 100%;
    height: 360px;}
    .jk-right {
    width: 100%;
    height: 195px;
    margin-top: -70px;}
    .vdio {
    height: auto;}
    .jk-text1 {
    color: black;
    font-size: 24px;
    opacity: 0.9;}
    .jk-text2 {
    color: black;
    font-size: 16px;
    opacity: 0.6;
    line-height: 24px;}
    #js {
    background: #ff3333;
    width: 139px;
    height: 32px;
    color: white;
    border: none;
    outline: none;
    font-size: 1.5rem;
    border-radius: 3px;
    opacity: 0.9;
    margin-top: 20px;}
    .juzhong {
    width: 90%;
    height: auto;
    margin: 0px auto;}
    .t-d{
    width: 60%;}
    .t-h{
    width: 72%;}
    .lylm-kuang{width: 90%;}
    .j-kuang {
    width: 100%;
    height: auto;
    margin: 50px auto;
    }
    .jk-text2 {
    margin-top: 45px;}
    .s-title {font-size: 20px;
    width: 100%;
    padding-top: 40px;
    line-height: 28px;}
    .st-t2 {
    width: 85%;
    font-weight: bold;
    margin: 0px auto;
    text-align: center;
    color: black;
    opacity: 0.6;
    font-size: 18px;}
    .s-tltle2 {font-size: 16px;}
    .te{height: auto;}
    .st-juzhong {
    width: 72%;
    height: 540px;
    margin: 40px auto;}
    .ling{color: black;
    font-size: 24px;
    opacity: 0.9;}
    .te-jz {
    height: 1213px;}
    .te-th {
    height: 1650px;}
    .lmw{margin-top: -50px;
    width: 100%;
    height: auto;}
    .lylm {
    height: 1736px;}
    .lm-le {
    height: auto;
    margin-bottom: 90px;}
    .yy-tu {
    margin: 42px auto;}
    .yy-title {
    margin: 0px auto;
    padding-top: 50px;}
    .yy-kuang {
    width: 85%;
    height: 524px;
    margin: 0px auto;}
    .yy {
    height: 1980px;}
    .tongz-kuang {
    width: 90%;
    height: 301px;
    margin: 0px auto;}
    #fazh {
    color: black;
    opacity: 0.8;
    padding-top: 0px;}
    .fazgh-kuang{width: 100%;}
    .tule {
    margin-bottom: 10px; }
    .tong-but {
    width: 100%;
    height: 42px;
    background: white;}
    .yy-le {
    text-align: center;
    height: 430px;}
    .lm-t1{font-size: 22px;
    color: rgba(0,0,0, 0.7);}
    .lm-t2 {
    width: 90%;
    margin: 0px auto;
    text-align: justify;
    padding-bottom: 25px;
    font-size: 16px;}
    .scjz {
    height: 275px;
    width: 100%;}
    .kong {height: 50px;}
    .tztxi{width: 45%;}
    .poe {
    background: url("sf-app.png") no-repeat center center;
    height: 700px;
    background-size: 100% 100%;}
    .te-th {
    height: 685px;
    }
    .poe-title {
    margin: 0px auto;
    text-align: left;
    font-size: 24px;
    color: white;
    padding-top: 64px;
    width: 100%;
    opacity: 0.8;}
    .poe-title2 {
    text-align: justify;
    font-size: 16px;
    opacity: 0.7;
    color: white;
    width: 100%;}
    .tdrow1 {
    padding-top: 192px;}
    .tdrow {
    height: auto;}
    .lm-le1 {
    padding-top: 20px;
    margin-bottom: 20px;}
    #dui{
    width: 100%;
    font-size: 24px;}
    .jian-title {
    padding-top: 50px;}
    .he-text2 {
    font-size: 16px;}
    .he-tu {
    margin: 0px auto;
    width: 25%;}
    .d-tex2 {
    text-align: center;
    border-radius: 0px 0px 10px 10px;
    background: #1f334c;
    height: auto;
    max-height: 362px;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 5px;}
    .zj {
    width: 85%;
    margin: 30px auto;
    text-align: justify;
    line-height: 25px;
    color: white;
    opacity: 0.6;
    font-size: 16px;}
	.navbar-brand {
    padding: 17px 17px;}
    .ban-ka{display: block;}
    .qfw-title{width: 100%;
    font-size: 24px;}
    

    
    /*交易所*/
   .he-juzhong {
    width: 90%;
    height: auto;
    margin: 0px auto;}
    
    .qfw-tx2 {
    font-size: 16px;
    color: gray;
    opacity: 1;
    text-align-last: left;}
        
} 


    
    

@media (max-width: 420px){
	.top10k {
    margin: 80px auto;
    height: 860px;}
    .nav-title1{font-size: 2.2rem;}
    #ck{bottom: 35%;
    position: absolute;}
    #stai{font-size: 24px;}
    .jk-left {
    width: 100%;
    height: 318px;}
    .s-tu img{width: 80%;
    margin: 0px auto;}
    .stu2 img{width: 60%;
    margin: 0px auto;}
    .stu3 img{width: 100%;
    margin: 0px auto;}
    #dui {
    width: 100%;
    font-size: 24px;}
        .xinwen {
    height: auto;}
    .te {
    height: auto;}
    .top8-lanjing {height: 560px;}
}

@media (max-width: 380px){
	.te {
    height: auto;}
    .tuand {
    height: auto;}
    .xinwen {
    height: auto;}
    /*top4*/
   .top4-juz3 {
    width: 100%;
    height: 980px;
    margin-top: 50px;}
}

@media (max-width: 370px){
	/*top4*/
	.top44-leb {
    width: 46%;
    height: 145px;
    margin-right: 1%;
    margin-left: 3%;
    border: 1px solid #f3f3f3;
    margin-bottom: 30px;
    padding-top: 30px;}
	  /*top10*/
	 .top10-z {
    height: 60px;
    margin-top: -30px;
    z-index: 2;}
    .nav-title1{font-size: 2.2rem;}
    #ck{bottom: 20%;
    position: absolute;}
    .jk-left {
    width: 100%;
    height: 360px;}
    .s-title {
    width: 100%;}
    .lylm {
    height: 1930px;}
    .lm-le {
    height: auto;
    margin-bottom: 70px;}
    .te {
    height: auto;}
    .fazgh {
    height: auto;}
}

@media (max-width: 350px){
	.scjz {
    height: 200px;
    width: 100%;}
    .tztxi{width: 45%;}
     .tuand {
    height: auto;}
    .jk-right {
    width: 100%;
    height: 195px;
    margin-top: -108px;}
    #dui {
    width: 35%;}
    .tdrow1 {
    padding-top: 158px;}
    .tuanle img {
    width: 35%;
    margin: 10% 27%;
    position: absolute;}
    .xinwen {
    height: auto;}
    .top8-lanjing {height: 600px;}
}
@media (max-width: 340px){

    .ban-txt1 {
    color: white;
    opacity: 1;
    margin-bottom: 0px;
    font-size: 1rem;}
}



