*{margin:0;padding:0;}
li{list-style:none outside none;}
/*body{background:url(../images/rbg.jpg) repeat scroll 0 0 #aaa;font-family:"宋体";padding:50px 0 0;}*/


/* .silder-box{width:600px;height:400px;margin:0 auto 0;position:relative;}
.silder{position:relative;overflow:hidden;width:400px;height:400px;margin:0 auto 0;}
.silder li{width:400px;height:400px;} */
.silder-box{position:relative;margin:50px auto ;}
.silder{margin:0 auto 0;
width: 790px!important;
    overflow: hidden!important;}
#sd{width: 90%;}
.silder li{width:250px!important;height:auto;
    margin-right: 20px!important;}
.silder li img{width:100%;height:100%;}
.silder-button{top:-50px;width:25px;height:54px;position:absolute;cursor:pointer;}
.silder-button.btl{left:106px;background:url("../img/page-house/tp4-bt1.png") no-repeat;}
.silder-button.btr{right:31px;background:url("../img/page-house/tp4-bt2.png") no-repeat;}

.silder-box-1{
	width:1000px;
	/*width:100%;*/
	}
.silder-box-2{width:500px;}
.silder-box-2 .silder li {width:200px;height:200px;}
.silder-box-3{width:1000px;}

p{font-size:20px;line-height:20px;text-align:center;color:#333;}
p span{color:#CB0000;}
h1{font-size:20px;line-height:50px;text-align:center;color:#333;}
h1 em{font-size:30px;color:#CB0000;padding:0 10px;}
textarea{display:block;text-indent:0;width:500px;margin:0 auto 20px;background:#ccc;border:0 none;resize:;font-size:12px;min-height:120px;}
textarea.t1{height:340px;margin:20px auto ;}

.small-navs{position:absolute;}


.au1{border: 1px solid;
    top: -52px;
    width: 95px;
    height: 54px;
    position: absolute;
    cursor: pointer;
    margin-left: 106px;}
.au2{border: 1px solid;
	top: -52px;
	width: 95px;
	height: 54px;
	position: absolute;
	cursor: pointer;
	margin-left: 206px;
	right: 96px;}
    
    
@media (max-width: 1000px){
	.silder-box-1{width: 680px!important;}
	.silder{
	width: 680px!important;}
	.silder li {
    width: 219px;
    height: auto;
    margin-right: 10px!important;}
    .silder-button.btl {
    left: 5px;
    background: url("../img/page-house/tp4-bt1.png") no-repeat;}
    .silder-button.btr {
    right: -70px;
    background: url("../img/page-house/tp4-bt2.png") no-repeat;}
}	

.silder-button span:hover{color: #1296db;
font-weight: bold;}

