<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>宁波格密链网络科技有限公司-品鉴匠心</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=no">
  <meta http-equiv="x-ua-compatible" content="IE=6,7,8,9,10">
  <link href="img/favicon.png" rel="shortcut icon" />
<!--  <link href="/Resource/project/czr-home-new/favicon.ico?v=636675016890811397" rel="shortcut icon">-->
  <link rel="stylesheet" href="css/bootstrap.css"  />
  <link rel="stylesheet" href="css/style.css"  />
  <link rel="stylesheet" href="css/yishu.css"  />
  <link rel="stylesheet" href="css/styles.css" >
  <!--<link rel="stylesheet" href="css/mui.min.css">-->
  <link href="css/gd.css"  rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="css/css.css" >

  <link rel="stylesheet" href="css/animate-custom.css" >

  <!--<link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css">-->
  <link rel="stylesheet" href="css/style2.css" >
  <link rel="stylesheet" href="css/page-ping.css" >
    
  <link rel="stylesheet" href="css/nel.css" >
<!--  <link rel="stylesheet" href="index-tab.css" >-->

  <script src="js/jquery-1.10.2.js" ></script>
  <script type="text/javascript" src="js/index.js" ></script>
  <script src="js/mui.min.js" ></script>
 <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "js/hm.js-d49cecf89eb4ef5d906929f58da4d659";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</head>

<body oncopy="return true">
  <!--1-头部导航栏-->

  
  <!-- <div id="lj-nav-bar">
      <lj-nav-bar v-bind:navs="nav" current="APP开发" ></lj-nav-bar>
  </div> -->
    <!--1-头部导航栏-->
    <div class="czr-header" id="header">
      <div class="container czr-container">
        <nav class="navbar navbar-theme">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse"
              aria-expanded="false" id="jzbut">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar" style="background:#3776ff;"></span>
              <span class="icon-bar" style="background:#3776ff;"></span>
              <span class="icon-bar" style="background:#3776ff;"></span>
            </button>
            <div class="navbar-brand-wrap">
              <a class="navbar-brand" href="index.html" >
                <img src="img/page1/home-logo.png"  alt="logo">
              </a>
            </div>
          </div>
          <!-- .navbar-header -->
          <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right" id="right-y">
              <li><a href="index.html"  class="j-header-link">首页</a></li>
              <li id="navl"><a href="page-ping.html"  class="j-header-link">APP开发</a></li>
              <li><a href="page-caseC.html"  class="j-header-link">服务案例</a></li>
              <li><a href="page-caseB.html"  class="j-header-link">区块链+</a></li>
              <!--<li ><a href="#top4" class="j-header-link">开发优势</a></li>-->
              <li><a href="page-far-eye.html"  class="j-header-link">关于格密链</a></li>
              <!--<li ><a href="#top5" class="j-header-link">联系我们</a></li>-->
            </ul>
          </div>
          <!-- .navbar-collapse -->
        </nav>
      </div>
    </div>

  <!--- 页头 -->
  <div class="container yto" style="padding-left: 0px;padding-right: 0px;">
    <div class="bantu">
      <!--<div id="particles-js" class="huabu"></div>-->
      <div class="b-kuang">
        <div class="b-txt1">“ 品 鉴 匠 心 ”</div>
        <div class="b-txt2">致力于为用户创造高品质的移动应用产品</div>
        <div class="top1-lie"><img src="img/page-ping/top-lie.png"  /></div>
        <div class="btn-w" id="tp-k">
          <div class="tou-btn">
            <div class="n1" onclick="javascrtpt:window.location.href='#'">区块链</div>
            <div class="n1" onclick="javascrtpt:window.location.href='#'">APP</div>
            <div class="n1" onclick="javascrtpt:window.location.href='#'">网站</div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!--top1-头下部APP开发服务 -->
  <div class="top4">
    <div class="top4-jz">
      <div class="top5-t1">
        <div class="top5-y">
          <div class="tab2 tab">
            <ul class="tab-nav">
              <li class="actived" id="tple1">
                <div><img src="img/page-ping/top1-a1.png"  alt="" /> </div>
                <div class="top4-litx1">APP开发</div>
              </li>
              <li id="tple2">
                <div><img src="img/page-ping/top1-a2.png"  alt="" /> </div>
                <div class="top4-litx1">网站开发</div>
              </li>
              <li id="tple3">
                <div><img src="img/page-ping/top1-a3.png"  alt="" /> </div>
                <div class="top4-litx1">区块链开发</div>
              </li>

            </ul>
            <div class="content-wrap content-wrap-mobile" id="wrap">
              <div class="mobile-hidden">
                <div class="content-item current">
                  <div class="zuof">
                    <img src="img/index/top4-tu1.png"  alt="" />
                  </div>
                  <div class="top5-z">
                    <div class="top52-tx1"><img class="top52-21" src="img/index/top4-ytu.png"  /></div>
                    <div class="top52-tx2">
                      用金融主流的JAVA语言开发，实行分布式系统架构，基于硬件扩展可支持百万级并发业务电子钱包、挖矿平台、电商、期货交易应用等APP软件，并实现系统金融级安全性能。
                    </div>
                    <div class="top52-tx3">
                      <spa class="jan1">金融类APP开发</spa>
                      <spa class="jan1">钱包类APP开发</spa>
                      <spa class="jan1">交易所类系统开发</spa>
                      <spa class="jan1">商城类APP开发</spa><br />
                    </div>
                    <div class="tp1-tx">安全放心，稳健流畅，功能强大|支持全系应用开发，任意想法皆可开发。</div>
                  </div>

                </div>
                <div class="content-item">
                  <div class="zuof">
                    <img src="img/index/top4-tu2.png"  alt="" />
                  </div>
                  <div class="top5-z">
                    <div class="top52-tx1"><img class="top52-21" src="img/index/top4-ytu3.png"  /></div>
                    <div class="top52-tx2">
                      从，精雕细琢UI设计，让阅览用户变成享受，到具有创造性策划、撰写创意，连贯性引导让您的故事引人入胜并赋予具流畅，稳定的Web框架并附上精彩的动画呈现，更富吸引力。
                    </div>
                    <div class="top52-tx3">
                      <spa class="jan1">展示官网建设</spa>
                      <spa class="jan1">H5会员系统</spa>
                      <spa class="jan1">电商商城网站</spa>
                      <spa class="jan1">功能型网站开发</spa><br />
                    </div>
                    <div class="tp1-tx">文案•策划•开发 创建不同，从文案策划，设计，交互一样都不少。</div>
                  </div>
                </div>
                <div class="content-item">
                  <div class="zuof">
                    <img src="img/index/top4-tu3.png"  alt="" />
                  </div>
                  <div class="top5-z">
                    <div class="top52-tx1"><img class="top52-21" src="img/index/top4-ytu2.png"  /></div>
                    <div class="top52-tx2">
                      格密链Blockchain } 提供区块链技术开发，搭建公链，私链，联盟链开发，智能合约开发，现实区块链商业生态建设等服务，协助区块链落地应用，为企业提供区块链商业化完美的解决方案。
                    </div>
                    <div class="top52-tx3">
                      <spa class="jan1">公链开发</spa>
                      <spa class="jan1">私链搭建</spa>
                      <spa class="jan1">联盟链开发</spa>
                      <spa class="jan1">合约开发</spa><br />
                    </div>
                    <div class="tp1-tx">底层公链，应用DAPP•为企业打造区块链商业化落地应用解决方案。</div>
                  </div>
                </div>
              </div>
              <div class="pc-hidden">
                <ping-post-mobile v-bind:data="item" v-bind:class="item.clz" v-for="(item, index) in data" :key="index"></ping-post-mobile>
              </div>
              <!-- <div class="content-item current">
                <div class="zuof">
                  <img src="img/index/top4-tu1.png" alt="" />
                </div>
                <div class="top5-z">
                  <div class="top52-tx1"><img class="top52-21" src="img/index/top4-ytu.png" /></div>
                  <div class="top52-tx2">
                    用金融主流的JAVA语言开发，实行分布式系统架构，基于硬件扩展可支持百万级并发业务电子钱包、挖矿平台、电商、期货交易应用等APP软件，并实现系统金融级安全性能。
                  </div>
                  <div class="top52-tx3">
                    <spa class="jan1">金融类APP开发</spa>
                    <spa class="jan1">钱包类APP开发</spa>
                    <spa class="jan1">交易所类系统开发</spa>
                    <spa class="jan1">商城类APP开发</spa><br />
                  </div>
                  <div class="tp1-tx">安全放心，稳健流畅，功能强大|支持全系应用开发，任意想法皆可开发。</div>
                </div>
              </div>
              <div class="content-item">
                <div class="zuof">
                  <img src="img/index/top4-tu1.png" alt="" />
                </div>
                <div class="top5-z">
                  <div class="top52-tx1"><img class="top52-21" src="img/index/top4-ytu3.png" /></div>
                  <div class="top52-tx2">
                    从，精雕细琢UI设计，让阅览用户变成享受，到具有创造性策划、撰写创意，连贯性引导让您的故事引人入胜并赋予具流畅，稳定的Web框架并附上精彩的动画呈现，更富吸引力。
                  </div>
                  <div class="top52-tx3">
                    <spa class="jan1">展示官网建设</spa>
                    <spa class="jan1">H5会员系统</spa>
                    <spa class="jan1">电商商城网站</spa>
                    <spa class="jan1">功能型网站开发</spa><br />
                  </div>
                  <div class="tp1-tx">文案•策划•开发 创建不同，从文案策划，设计，交互一样都不少。</div>
                </div>
              </div>
              <div class="content-item">
                <div class="zuof">
                  <img src="img/index/top4-tu1.png" alt="" />
                </div>
                <div class="top5-z">
                  <div class="top52-tx1"><img class="top52-21" src="img/index/top4-ytu2.png" /></div>
                  <div class="top52-tx2">
                    蓝鲸Blockchain } 提供区块链技术开发，搭建公链，私链，联盟链开发，智能合约开发，现实区块链商业生态建设等服务，协助区块链落地应用，为企业提供区块链商业化完美的解决方案。
                  </div>
                  <div class="top52-tx3">
                    <spa class="jan1">公链开发</spa>
                    <spa class="jan1">私链搭建</spa>
                    <spa class="jan1">联盟链开发</spa>
                    <spa class="jan1">合约开发</spa><br />
                  </div>
                  <div class="tp1-tx">底层公链，应用DAPP•为企业打造区块链商业化落地应用解决方案。</div>
                </div>
              </div> -->

            </div>

          </div>
        </div>
      </div>

    </div>
  </div>

  <!--top2 擅长开发类型-->
  	<!--pc端显示-->
  <div class="top2" id="dong2">
			<div class="top2-jz">
				<div class="top2-tx1" >擅长开发类型</div>
				<div class="top1-lie"><img src="img/page-ping/top1-lie.png" /></div>
				<div class="tp2-t2">APP应用类型 支持全系应用开发，任意想法皆可开发。</div>
				<div class="top2-x">
					<div class="top2-tu1" data-scroll-reveal="enter left over 1s and move 50px after 0.2s"><img src="img/page-ping/top2-t1.png"  alt="" /></div>
					<div class="top2-tu1" data-scroll-reveal="enter left over 1s and move 50px after 0.6s"><img src="img/page-ping/top2-t2.png"  alt="" /></div>
					<div class="top2-tu1" data-scroll-reveal="enter left over 1s and move 50px after 1s"><img src="img/page-ping/top2-t3.png"  alt="" /></div>
					<div class="top2-tu1" data-scroll-reveal="enter left over 1s and move 50px after 1.4s"><img src="img/page-ping/top2-t4.png"  alt="" /></div>
				</div>
			</div>
		</div>	
		
		
  <div class="top2" id="good-at">
    <div class="pc-hidden">
      <ping-title v-bind:item="title" class="good-at-title"></ping-title>
      <div class="ping-good-at-mobile-container">
        <ping-good-at-mobile v-bind:data="item" v-bind:class="item.clz" v-for="(item, index) in data" :key="index"></ping-good-at-mobile>
      </div>
    </div>
    <div class="top2-jz mobile-hidden">
      <div class="top2-tx1">擅长开发类型</div>
      <div class="top1-lie"><img src="img/page-ping/top1-lie.png"  /></div>
      <div class="tp2-t2">APP应用类型 支持全系应用开发，任意想法皆可开发。</div>
      <div class="top2-x" >
        <div class="top2-tu1" ><img src="img/page-ping/top2-t1.png"
            alt="" /></div>
        <div class="top2-tu1" ><img src="img/page-ping/top2-t2.png"
            alt="" /></div>
        <div class="top2-tu1" ><img src="img/page-ping/top2-t3.png"
            alt="" /></div>
        <div class="top2-tu1" ><img src="img/page-ping/top2-t4.png"
            alt="" /></div>
      </div>
    </div>
  </div>

  <!--top3-区块链开发服务-->
  
  <!--pc端显示-->
  <div class="top8" id="dong3">
			<div class="top8-k">
				<div class="top8-t1">区块链开发服务</div>
				<div class="top8-lin"><img src="img/index/top8-lin.png" /></div>
				<div class="tp2-t2">为企业打造区块链商业化落地应用解决方案</div>
				
				<div class="top8-xia1">
					<div class="row">
						<div class="col-xs-12 col-sm-3 col-md-3 col-ld-3 top8-ne1" data-scroll-reveal="enter left over 1s and move 50px after 0.2s">
							<div class="t-img1"><img src="img/page-ping/top3-lg1.png" /></div>
							<div class="top8-xl1">
								<div class="top8-e1">
									<p class="top8-x-2">智能合约开发</p>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-3 col-md-3 col-ld-3 top8-ne1" data-scroll-reveal="enter left over 1s and move 50px after 0.6s">
							<div class="t-img1"><img src="img/page-ping/top3-lg2.png" /></div>
							<div class="top8-xl1">
								<div class="top8-e1">
									<p class="top8-x-2">公有链开发</p>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-3 col-md-3 col-ld-3 top8-ne1" data-scroll-reveal="enter left over 1s and move 50px after 1s">
							<div class="t-img1"><img src="img/page-ping/top3-lg3.png" /></div>
							<div class="top8-xl1">
								<div class="top8-e1">
									<p class="top8-x-2">私有链开发</p>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-3 col-md-3 col-ld-3 top8-ne1" data-scroll-reveal="enter left over 1s and move 50px after 1.4s">
							<div class="t-img1"><img src="img/page-ping/top3-lg4.png" /></div>
							<div class="top8-xl1">
								<div class="top8-e1">
									<p class="top8-x-2">联盟链开发</p>
								</div>
							</div>
						</div>
					
					</div>					
				</div>
				
				<div class="top8-xia" data-scroll-reveal="enter bottom over 1s and move 50px after 0.6s">
					<div class="row">
						<div class="col-xs-12 col-sm-3 col-md-3 col-ld-3 top8-le">
							<div class="t-img1"><img src="img/page-ping/top3-lg5.png" /></div>
							<div class="top8-xl">
								<div class="top8-le1">
									<p class="top8-xt2">证券化DAPP开发</p>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-3 col-md-3 col-ld-3 top8-le">
							<div class="t-img1"><img src="img/page-ping/top3-lg6.png" /></div>
							<div class="top8-xl">
								<div class="top8-le1">
									<p class="top8-xt2">社交类DAPP开发</p>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-3 col-md-3 col-ld-3 top8-le">
							<div class="t-img1"><img src="img/page-ping/top3-lg7.png" /></div>
							<div class="top8-xl">
								<div class="top8-le1">
									<p class="top8-xt2">游戏类DAPP开发</p>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-3 col-md-3 col-ld-3 top8-le">
							<div class="t-img1"><img src="img/page-ping/top3-lg8.png" /></div>
							<div class="top8-xl">
								<div class="top8-le1">
									<p class="top8-xt2">钱包类DAPP开发</p>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-3 col-md-3 col-ld-3 top8-le">
							<div class="t-img1"><img src="img/page-ping/top3-lg9.png" /></div>
							<div class="top8-xl">
								<div class="top8-le1">
									<p class="top8-xt2">竞猜类DAPP开发</p>
								</div>
							</div>
						</div>
					
					</div>					
				</div>
			</div>
		</div>
		<!--移动端显示-->
  <div class="top8" id="block-service">
    <div class="top8-k top8-k-mobile">
      <ping-title v-bind:item="title" class="pc-hidden"></ping-title>
      <div class="top8-t1 mobile-hidden">区块链开发服务</div>
      <div class="top8-lin mobile-hidden"><img src="img/index/top8-lin.png"  /></div>
      <div class="tp2-t2 mobile-hidden">为企业打造区块链商业化落地应用解决方案</div>

      <div class="top8-xia1 top8-xia1-mobile " id="small-pill">
        <div class="row mobile-hidden">
          <div class="col-xs-12 col-sm-3 col-md-3 col-ld-3 top8-ne1" >
            <div class="t-img1"><img src="img/page-ping/top3-lg1.png"  /></div>
            <div class="top8-xl1">
              <div class="top8-e1">
                <p class="top8-x-2">智能合约开发</p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-3 col-md-3 col-ld-3 top8-ne1" >
            <div class="t-img1"><img src="img/page-ping/top3-lg2.png"  /></div>
            <div class="top8-xl1">
              <div class="top8-e1">
                <p class="top8-x-2">公有链开发</p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-3 col-md-3 col-ld-3 top8-ne1" >
            <div class="t-img1"><img src="img/page-ping/top3-lg3.png"  /></div>
            <div class="top8-xl1">
              <div class="top8-e1">
                <p class="top8-x-2">私有链开发</p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-3 col-md-3 col-ld-3 top8-ne1" >
            <div class="t-img1"><img src="img/page-ping/top3-lg4.png"  /></div>
            <div class="top8-xl1">
              <div class="top8-e1">
                <p class="top8-x-2">联盟链开发</p>
              </div>
            </div>
          </div>
        </div>
        <div class="ping-small-pill-container pc-hidden">
          <ping-small-pill-mobile v-bind:data="item" v-for="(item, index) in data" :key="item.id"></ping-small-pill-mobile>
        </div>
      </div>

      <div id="list">
        <div class="top8-xia top8-xia-mobile" data-scroll-reveal="enter bottom over 1s and move 50px after 0.6s">
          <div class="col-xs-12 col-sm-3 col-md-3 col-ld-3 top8-le mobile-hidden" 　v-for="(item, index) in data" :key="index">
            <div class="t-img1"><img v-bind:src="item.img"  /></div>
            <div class="top8-xl">
              <div class="top8-le1">
                <p class="top8-xt2">{{item.text}}</p>
              </div>
            </div>
          </div>
          <!-- <ping-list v-bind:data="item" v-for="(item, index) in data" :key="index" class="mobile-hidden"></ping-list> -->
        </div>
        <div class="top8-xia top8-xia-mobile pc-hidden">
            <ping-list-mobile v-bind:data="item" v-for="(item, index) in data" :key="index"></ping-list-mobile>
        </div>
      </div>
    </div>
  </div>

  <!--top4-技术优势 -->
  		<!--PC端显示-->
  <div class="top4" style="background: white;" id="dong4">
			<div class="top4-k">
				<div class="top2-tx1">技术优势</div>
				<div class="top1-lie"><img src="img/page-ping/top1-lie.png" /></div>
				<div class="tp2-t2">前进不止，成功研制并生双链生态系统</div>
				<!--<div class="top4-tu1" ></div>-->
				<div class="top4-js" data-scroll-reveal="enter bottom over 1s and move 50px after 0.3s">
					<div class="top4-js1">
						<div class="top4-x1">跨链服务</div>
						<div class="top4-x2">同/异构区块链之间可<br/>相互操作及通信</div>
					</div>
					<div class="top4-jstu"><img src="img/page-ping/top4-jstu.png" /></div>
					<div class="top4-js1">
						<div class="top4-x1">合约定制</div>
						<div class="top4-x2">多语言合约共存,依据行规<br/>规则提供标准化合约模板</div>
					</div>
					<div class="top4-jstu"><img src="img/page-ping/top4-jstu.png" /></div>
					<div class="top4-js1">
						<div class="top4-x1">隐私保护</div>
						<div class="top4-x2">多种数据脱敏,加密和封锁方<br/>保护用户隐私</div>
					</div>
					<div class="top4-jstu"><img src="img/page-ping/top4-jstu.png" /></div>
					<div class="top4-js1">
						<div class="top4-x1">共识机制</div>
						<div class="top4-x2">DPos+BFT新算法,实现高交易<br/>吞吐量、可扩展和安全性</div>
					</div>
				</div>
				
				<div class="top4-tx">
					混 合 共 识<span class="top4-sp1"></span><img src="img/page-ping/top4-tx.png" /><span class="top4-sp2"></span>
					智 能 闪 电<span class="top4-sp1"></span><img src="img/page-ping/top4-tx.png" /><span class="top4-sp2"></span>
					H A I L P<span class="top4-sp1"></span><img src="img/page-ping/top4-tx.png" /><span class="top4-sp2"></span>
					智 能 合 约<span class="top4-sp1"></span><img src="img/page-ping/top4-tx.png" /><span class="top4-sp2"></span>
					跨 链 技 术<span class="top4-sp1"></span><img src="img/page-ping/top4-tx.png" /><span class="top4-sp2"></span>
					双 链 系 统
				</div>
				<div class="top2-tx1">安全机制</div>
				<div class="top1-lie"><img src="img/page-ping/top1-lie.png" /></div>
				<div class="top8-xia" id="top4-xia" data-scroll-reveal="enter bottom over 1s and move 50px after 0.6s">
					<div class="row">
						<div class="col-xs-12 col-sm-3 col-md-3 col-ld-3 top8-le">
							<div class="t-img1"><img src="img/page-ping/top4-g1.png" /></div>
							<div class="top8-xl">
								<div class="top8-le1">
									<p class="top8-xt2">数据传输安全</p>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-3 col-md-3 col-ld-3 top8-le">
							<div class="t-img1"><img src="img/page-ping/top4-g2.png" /></div>
							<div class="top8-xl">
								<div class="top8-le1">
									<p class="top8-xt2">防注入安全</p>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-3 col-md-3 col-ld-3 top8-le">
							<div class="t-img1"><img src="img/page-ping/top4-g3.png" /></div>
							<div class="top8-xl">
								<div class="top8-le1">
									<p class="top8-xt2">防信息丢失  </p>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-3 col-md-3 col-ld-3 top8-le">
							<div class="t-img1"><img src="img/page-ping/top4-g4.png" /></div>
							<div class="top8-xl">
								<div class="top8-le1">
									<p class="top8-xt2">网络安全</p>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-3 col-md-3 col-ld-3 top8-le">
							<div class="t-img1"><img src="img/page-ping/top4-g5.png" /></div>
							<div class="top8-xl">
								<div class="top8-le1">
									<p class="top8-xt2">数据库灾备</p>
								</div>
							</div>
						</div>
					
					</div>					
				</div>
				
			</div>
		</div>
		
		<!--移动端显示-->
  <div class="top4" style="background: white;" id="top4-dong">
    <div class="top4-k top4-k-mobile" id="div-pill">
      <div class="pc-hidden">
        <ping-title v-bind:item="title"></ping-title>
        <div class="ping-div-pill-mobile-container">
          <ping-div-pill-mobile v-bind:data="item" v-for="(item, index) in data" :key="index"></ping-div-pill-mobile>
        </div>
      </div>
      <div class="mobile-hidden">
          <div class="top2-tx1">技术优势</div>
          <div class="top1-lie"><img src="img/page-ping/top1-lie.png"  /></div>
          <div class="tp2-t2">前进不止，成功研制并生双链生态系统</div>
          <!-- <div class="top4-tu1"></div> -->
          <div class="top4-js" >
            <div class="top4-js1">
              <div class="top4-x1">跨链服务</div>
              <div class="top4-x2">同/异构区块链之间可<br />相互操作及通信</div>
            </div>
            <div class="top4-jstu"><img src="img/page-ping/top4-jstu.png"  /></div>
            <div class="top4-js1">
              <div class="top4-x1">合约定制</div>
              <div class="top4-x2">多语言合约共存,依据行规<br />规则提供标准化合约模板</div>
            </div>
            <div class="top4-jstu"><img src="img/page-ping/top4-jstu.png"  /></div>
            <div class="top4-js1">
              <div class="top4-x1">隐私保护</div>
              <div class="top4-x2">多种数据脱敏,加密和封锁方<br />保护用户隐私</div>
            </div>
            <div class="top4-jstu"><img src="img/page-ping/top4-jstu.png"  /></div>
            <div class="top4-js1">
              <div class="top4-x1">共识机制</div>
              <div class="top4-x2">DPos+BFT新算法,实现高交易<br />吞吐量、可扩展和安全性</div>
            </div>
          </div>
    
          <div class="top4-tx">
            混 合 共 识<span class="top4-sp1"></span><img src="img/page-ping/top4-tx.png"  /><span class="top4-sp2"></span>
            智 能 闪 电<span class="top4-sp1"></span><img src="img/page-ping/top4-tx.png"  /><span class="top4-sp2"></span>
            H A I L P<span class="top4-sp1"></span><img src="img/page-ping/top4-tx.png"  /><span class="top4-sp2"></span>
            智 能 合 约<span class="top4-sp1"></span><img src="img/page-ping/top4-tx.png"  /><span class="top4-sp2"></span>
            跨 链 技 术<span class="top4-sp1"></span><img src="img/page-ping/top4-tx.png"  /><span class="top4-sp2"></span>
            双 链 系 统
          </div>
          <div class="top2-tx1">安全机制</div>
          <div class="top1-lie"><img src="img/page-ping/top1-lie.png"  /></div>
          <div class="top8-xia" id="top4-xia" >
            <div class="row">
              <div class="col-xs-12 col-sm-3 col-md-3 col-ld-3 top8-le">
                <div class="t-img1"><img src="img/page-ping/top4-g1.png"  /></div>
                <div class="top8-xl">
                  <div class="top8-le1">
                    <p class="top8-xt2">数据传输安全</p>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-3 col-ld-3 top8-le">
                <div class="t-img1"><img src="img/page-ping/top4-g2.png"  /></div>
                <div class="top8-xl">
                  <div class="top8-le1">
                    <p class="top8-xt2">防注入安全</p>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-3 col-ld-3 top8-le">
                <div class="t-img1"><img src="img/page-ping/top4-g3.png"  /></div>
                <div class="top8-xl">
                  <div class="top8-le1">
                    <p class="top8-xt2">防信息丢失 </p>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-3 col-ld-3 top8-le">
                <div class="t-img1"><img src="img/page-ping/top4-g4.png"  /></div>
                <div class="top8-xl">
                  <div class="top8-le1">
                    <p class="top8-xt2">网络安全</p>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-3 col-ld-3 top8-le">
                <div class="t-img1"><img src="img/page-ping/top4-g5.png"  /></div>
                <div class="top8-xl">
                  <div class="top8-le1">
                    <p class="top8-xt2">数据库灾备</p>
                  </div>
                </div>
              </div>
    
            </div>
          </div>
      </div>

    </div>
  </div>

  <!--top5-蓝鲸运行模型-->
  <div class="top5 mobile-hidden" data-scroll-reveal="enter bottom over 1s and move 50px after 0.6s">
    <div class="top5-k">
    </div>
  </div>
  <div id="safe-engine" class="pc-hidden">
    <ping-title v-bind:item="titleEngine" class="engine-title"></ping-title>
    <div class="ping-safe-engine-mobile-container">
      <ping-safe-engine-mobile v-bind:data="item" v-for="(item, index) in engine" :key="index"></ping-safe-engine-mobile>
    </div>
  </div>

  <!-- 流程图 -->
  <section class="run-module bg-gray pc-hidden">
    <h6>格密链Blockchain 分层结构运行模型</h6>
    <div id="run-module" class="ping-run-module-mobile-container">
      <div class="run-module-title-left">
        <img src="img/page-ping/left.png"  alt>
        <span>Web<br />Service</span>
        <img src="img/page-ping/right.png"  alt>
      </div>
      <div class="border">
        <ping-run-module-mobile v-bind:data="item" v-for="(item, index) in runModule" :key="index"></ping-run-module-mobile>
      </div>
    </div>
  </section>

  <!--top6-专业服务流程-->
  	<!--PC端显示-->
  <div class="top6" id="dong5">
			<div class="top6-k">
				<div class="top2-tx1">专业服务流程</div>
				<div class="top1-lie"><img src="img/page-ping/top1-lie.png" /></div>
				<div class="tp2-t2">10步法则协调运作•系统化、有方向、有条理规范服务体系</div>
				<div class="top6-tu" data-scroll-reveal="enter bottom over 1s and move 10px after 0.6s"></div>
			</div>
		</div>
		
		<!--移动端显示-->
  <div class="top6" id="big-pill">
    <div class="top6-k top6-k-mobile">
      <div class="pc-hidden">
        <ping-title v-bind:item="title"></ping-title>
        <ping-big-pill-mobile v-bind:data="item" v-for="(item, index) in data" :key="index"></ping-big-pill-mobile>
      </div>
      <div class="mobile-hidden">
          <div class="top2-tx1">专业服务流程</div>
          <div class="top1-lie"><img src="img/page-ping/top1-lie.png"  /></div>
          <div class="tp2-t2">10步法则协调运作•系统化、有方向、有条理规范服务体系</div>
          <div class="top6-tu top6-tu-mobile" ></div>
      </div>
    </div>
  </div>

  <!--top7-服务案例-->
  <div class="top7" id="service-example">
    <div class="top7-k top7-k-mobile">
      <div class="pc-hidden">
        <ping-title v-bind:item="title"></ping-title>
        <div class="service-example-container">
          <service-example v-bind:item="item" v-for="(item, index) in service" :key="index"></service-example>
        </div>
      </div>

     <div class="mobile-hidden">
        <div class="top2-tx1 top2-tx1-mobile">服务案例</div>
      <div class="top1-lie"><img src="img/page-ping/top1-lie.png"  /></div>
      <div class="tp2-t2 tp2-t2-mobile">精选创造案例|阅•品鉴匠心</div>
      <div class="top7-xia1">
        <div class="row">
          <a href="case/case1.html" >
            <div class="col-xs-12 col-sm-3 col-md-3 col-ld-3 top7-ne1 top7-h1" id="hua">
              <div class="top7-he">
                <div class="top7-e1">
                  <p class="top7-ti1">爱链钱包APP</p>
                  <p class="top7-ti2">区块链联盟钱包</p>
                </div>
              </div>
            </div>
          </a>
          <a href="case/case15.html" >
            <div class="col-xs-12 col-sm-3 col-md-3 col-ld-3 top7-ne1 top7-h2" id="hua">
              <div class="top7-he">
                <div class="top7-e1">
                  <p class="top7-ti1">纷享车链</p>
                  <p class="top7-ti2">区块链汽车服务平台</p>
                </div>
              </div>
            </div>
          </a>
          <a href="case/case12.html" >
            <div class="col-xs-12 col-sm-3 col-md-3 col-ld-3 top7-ne1 top7-h3" id="hua">
              <div class="top7-he">
                <div class="top7-e1">
                  <p class="top7-ti1">新零售商业</p>
                  <p class="top7-ti2">公共区块系统-钱包</p>
                </div>
              </div>
            </div>
          </a>
          <a href="case/case10.html" >
            <div class="col-xs-12 col-sm-3 col-md-3 col-ld-3 top7-ne1 top7-h4" id="hua">
              <div class="top7-he">
                <div class="top7-e1">
                  <p class="top7-ti1">竞拍平台APP</p>
                  <p class="top7-ti2">多样化的竞拍平台</p>
                </div>
              </div>
            </div>
          </a>
          <a href="case/case17.html" >
            <div class="col-xs-12 col-sm-3 col-md-3 col-ld-3 top7-ne1 top7-h5" id="hua">
              <div class="top7-he">
                <div class="top7-e1">
                  <p class="top7-ti1">区块链-商城</p>
                  <p class="top7-ti2">数字货币购物商城</p>
                </div>
              </div>
            </div>
          </a>
          <a href="case/case16.html" >
            <div class="col-xs-12 col-sm-3 col-md-3 col-ld-3 top7-ne1 top7-h6" id="hua">
              <div class="top7-he">
                <div class="top7-e1">
                  <p class="top7-ti1">新空测评</p>
                  <p class="top7-ti2">区块链项目评级项目</p>
                </div>
              </div>
            </div>
          </a>

        </div>
      </div>
     </div>
    </div>


  </div>


  <!--10-联系我们	-->
  <section class="index-section" id="contact">
    <div class="box-header">
      <div class="ch1">联系我们</div>
      <div class="desc">CONTACTUS</div>
      <div class="wo">我们的产品经理取得联系，让创新获得认可</div>
    </div>
    <!--<div class="main">
      <div class="container-fluid">
        <div class="wx-rows">
          <div class="row">
            <div class="col-xs-12 col-sm-3">
              <img alt="" src="img/page1/top10-tu1.png" />
            </div>
            <div class="col-xs-12 col-sm-3">
              <img alt="" src="img/page1/top10-tu2.png" />
            </div>
            <div class="col-xs-12 col-sm-3">
              <img alt="" src="img/page1/top10-tu3.png" />
            </div>

            <div class="col-xs-12 col-sm-3">
              <img alt="" src="img/page1/top10-tu4.png" />
            </div>

          </div>
          <div class="lxfs">

          </div>

        </div>
      </div>
    </div>-->
    <div class="main">
			<div class="container-fluid">
			<!--微信-->
			<div class="wx-rows">
			<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-3 col-ld-3 top12-bo">
				<div class="wx-box">
					<div class="wx-people">
						<h3>产品经理/黄先生</h3>
						<p>138 2748 8184</p>
						<!--<a class="btn-wx" href="">微信扫码联系</a>-->
					</div>
					<div class="wx-peopley">
						<img alt="" src="top12-er10.png"  />
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3 col-ld-3 top12-bo">
				<div class="wx-box">
					<div class="wx-people">
						<h3>产品经理/李先生</h3>
						<p>186 6493 3625</p>
						<!--<a class="btn-wx" href="">微信扫码联系</a>-->
					</div>
					<div class="wx-peopley">
						<img alt="" src="top12-er20.png"  />
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3 col-ld-3 top12-bo">
				<div class="wx-box">
					<div class="wx-people">
						<h3>产品经理/黄先生</h3>
						<p>183 4429 5614</p>
						<!--<a class="btn-wx" href="">微信扫码联系</a>-->
					</div>
					<div class="wx-peopley">
						<img alt="" src="top12-er30.png"  />
					</div>
				</div>
			</div>
			
			<div class="col-xs-12 col-sm-6 col-md-3 col-ld-3 top12-bo1">
				<div class="wx-box">
					<div class="wx-people">
						<h3>产品经理/黄女士</h3>
						<p>189 4835 6785</p>
					<!--	<a class="btn-wx" href="">微信扫码联系</a>-->
					</div>
					<div class="wx-peopley">
						<img alt="" src="top12-er40.png"  />
					</div>
				</div>
			</div>
			
			</div>			
			</div>
			</div>
		</div>

    <div class="main-map">
      <div class="container-fluid main-fluid">
        <div class="row" id="top12-di">
          <div class="col-sm-6">
            <div class="map-text">
              <div class="m-header">
                <div class="ch">联系我们</div>
                <div class="en">Contact us</div>
              </div>
              <div class="m-mddle">
                <div class="m-number">0755-23590263</div>
                <br />
                <div class="m-sheare">
                  <a class="mm-lk" href="">
                    <img src="img/top12-sicon1.png"  />
                  </a>
                  <a class="mm-lk" href="">
                    <img src="img/top12-sicon2.png"  />
                  </a>
                  <a class="mm-lk" href="">
                    <img src="img/top12-sicon3.png"  />
                  </a>
                  <a class="mm-lk" href="">
                    <img src="img/top12-sicon4.png"  />
                  </a>
                </div>
              </div>
              <div class="m-loaction"><img class="top12-drap" src="img/top12-drap.png"  />
                <spa>深圳市宝安宝民一路宝通大厦15楼 1501 室</spa>
              </div>
            </div>
          </div>
          <div class="col-sm-6" id="ditu">
            <div class="lg-map">
              <!--<img src="img/top12-map.png" />-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />

    <style type="text/css">
      * {
        margin: 0;
        padding: 0;
        list-style-type: none;
      }

      a,
      img {
        border: 0;
      }

      a {
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }

      body {
        font: 12px/180% Arial, Helvetica, sans-serif, "新宋体";
        color: #333333;
      }

      /* 主要css样式*/
      .main-im {
        position: fixed;
        right: 10px;
        top: 300px;
        z-index: 100;
        width: 110px;
        height: 272px;
      }

      .main-im .qq-a {
        display: block;
        width: 106px;
        height: 116px;
        font-size: 14px;
        color: #0484cd;
        text-align: center;
        position: relative;
      }

      .main-im .qq-a span {
        bottom: 5px;
        position: absolute;
        width: 90px;
        left: 10px;
      }

      .main-im .qq-hover-c {
        width: 70px;
        height: 70px;
        border-radius: 35px;
        position: absolute;
        left: 18px;
        top: 10px;
        overflow: hidden;
        z-index: 9;
      }

      .main-im .qq-container {
        z-index: 99;
        position: absolute;
        width: 109px;
        height: 118px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom: 1px solid #dddddd;
        background: url("qq-icon-bg.png") no-repeat center 8px;
      }

      .main-im .img-qq {
        max-width: 60px;
        display: block;
        position: absolute;
        left: 6px;
        top: 3px;
        -moz-transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        margin-top: 10px;
      }

      .main-im .im-qq:hover .img-qq {
        max-width: 70px;
        left: 1px;
        top: 8px;
        position: absolute;
      }

      .main-im .im_main {
        background: #F9FAFB;
        border: 1px solid #dddddd;
        border-radius: 10px;
        background: #F9FAFB;
        display: none;
      }

      .main-im .im_main .im-tel {
        color: #000000;
        text-align: center;
        width: 109px;
        height: 105px;
        border-bottom: 1px solid #dddddd;
      }

      .main-im .im_main .im-tel div {
        font-weight: bold;
        font-size: 12px;
        margin-top: 6px;
      }

      .main-im .im_main .im-tel .tel-num {
        font-family: Arial;
        font-weight: bold;
        color: #e66d15;
      }

      .main-im .im_main .im-tel:hover {
        background: #fafafa;
      }

      .main-im .im_main .weixing-container {
        width: 55px;
        height: 47px;
        border-right: 1px solid #dddddd;
        background: #f5f5f5;
        border-bottom-left-radius: 10px;
        background: url("weixing-icon.png") no-repeat center center;
        float: left;
      }

      .main-im .im_main .weixing-show {
        width: 112px;
        height: 172px;
        background: #ffffff;
        border-radius: 10px;
        border: 1px solid #dddddd;
        position: absolute;
        left: -125px;
        top: -126px;
      }

      .main-im .im_main .weixing-show .weixing-sanjiao {
        width: 0;
        height: 0;
        border-style: solid;
        border-color: transparent transparent transparent #ffffff;
        border-width: 6px;
        left: 112px;
        top: 134px;
        position: absolute;
        z-index: 2;
      }

      .main-im .im_main .weixing-show .weixing-sanjiao-big {
        width: 0;
        height: 0;
        border-style: solid;
        border-color: transparent transparent transparent #dddddd;
        border-width: 8px;
        left: 112px;
        top: 132px;
        position: absolute;
      }

      .main-im .im_main .weixing-show .weixing-ma {
        width: 104px;
        height: 103px;
        padding-left: 5px;
        padding-top: 5px;
      }

      .main-im .im_main .weixing-show .weixing-txt {
        position: absolute;
        top: 110px;
        left: 7px;
        width: 100px;
        margin: 0 auto;
        text-align: center;
      }

      .main-im .im_main .go-top {
        width: 50px;
        height: 47px;
        background: #f5f5f5;
        border-bottom-right-radius: 10px;
        background: url("totop-icon.png") no-repeat center center;
        float: right;
      }

      .main-im .im_main .go-top a {
        display: block;
        width: 52px;
        height: 47px;
      }

      .main-im .close-im {
        position: absolute;
        right: 10px;
        top: -12px;
        z-index: 100;
        width: 24px;
        height: 24px;
      }

      .main-im .close-im a {
        display: block;
        width: 24px;
        height: 24px;
        background: url("close_im.png") no-repeat left top;
      }

      .main-im .close-im a:hover {
        text-decoration: none;
      }

      .mm-lk {
        float: left;
        margin-right: 5%;
      }

      .top12-drap {
        margin-right: 20px;
      }

      #top12-di {
        margin-top: 0px;
      }

      .main-im .open-im {
        cursor: pointer;
        margin-left: 68px;
        width: 40px;
        height: 133px;
        background: url("open_im.png") no-repeat left top;
      }
    </style>
    <!-- 代码部分 begin -->
    </div>
    </div>

  </section>
  <!--footer-->
  <div class="foots"><a href="http://www.miitbeian.gov.cn/" >© 2018-2019 蓝鲸创服区块链公社版权所有粤ICP备16121820号-2Copyright
      Ajrice.com All Rights Reserved.</a></div>













  <!--<script src="http://www.jq22.com/jquery/2.1.1/jquery.min.js"></script>-->
  <!--<script src="js/particles.js"></script>-->
  <!--<script src="js/app.js"></script>-->


  <script src="js/bootstrap.min.js" ></script>
  <!--<script type="text/javascript" src="js/slide.js"></script>
		<script src="js/jquery.edslider.js"></script>
		<script src="js/mui.min.js"></script>
		<script src="js/shouji.js"></script>
		-->

  <!--<script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>-->



  <script type="text/javascript">
    $(document).ready(function () {
      $('#right-y li').click(function () {
        $(this).attr('id', 'navl').siblings().attr('id', '');
      });
    });


    $('#selet').change(function () {
      var url = $(this).children('option:selected').val();
      window.location.href = url;
    });

    mui.init({
      swipeBack: true
    });
    var slider = mui(".mui-slider");
    slider.slider({
      interval: 1000
    });
  </script>

  <script src="js/scrollReveal.js" ></script>
  <script>
    if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))) {
      (function () {
        window.scrollReveal = new scrollReveal({
          reset: true
        });
      })();
    };
  </script>

  <script>
    $(window).ready(function () {
      $('.tab2').tabChange({
        name: '.tab2',
        invoke: 0,
        behavior: '',
        effect: ''
      });
    })
  </script>

  <script src="js/vue.js" ></script>
  <script src="js/common.js" ></script>
  <script src="js/page-ping.js" ></script>
</body>

</html>